<h2><i class="fa fa-asterisk"></i>&nbsp;&nbsp;About me</h2>
<p>Interessé et touche à tout, j'aime echangé et aprendre de la diversité de mon entourage.</p>
<p>Je développe actuellement une serie de projets personnels dans le but d'offrir de nouvelles expériences utilisateurs. Afin de pouvoir me consacrer entierement à mon activité, je ne recherche pas d'emploi dans l'immédiat.</p>
<p>Mon état d'esprit du moment : dissociation du travail de la rémunération - ou - comment garantir le plaisir au travail.</p>