<span><h2><i class="fa fa-asterisk"></i>A propos</h2></span>
<p>Interessé et touche à tout, j'aime echanger et apprendre de la diversité de mon entourage.</p>
<p>Je développe actuellement une serie de projets personnels dans le but d'offrir de nouvelles expériences utilisateurs. J'explore les technologies qui m'interessent en alliant curiosité et interêts professionnels</p>
<p>Mon état d'esprit du moment : dissociation du travail de la rémunération - ou - comment garantir le plaisir au travail.</p>