<header id="#home">
    {{ partial "nav.html" . }}
    {{ partial "intro_en.html" . }}
</header>
<section>
    <article id="about">
        {{ partial "about_en.html" . }}
    </article>
    <article id="projects">
        {{ partial "projects_en.html" . }}
    </article>
    <div>
            <article id="experiences">
                {{ partial "experiences_en.html" . }}
            </article>
        <div id="bottom-content">
            <article id="skills">
                {{ partial "skills_en.html" . }}
            </article>
            <div>
                <article id="education">
                    {{ partial "education_en.html" . }}
                </article>
                <article id="contact">
                    {{ partial "contact_en.html" . }}
                </article>
            </div>
        </div>
    </div>
</section>