<input type="checkbox" name="menu-toggle" id="menu-toggle" />
<div id="nav-container">
    <div class="title-container">
        <h1>
            <a href="#">Erik</a>
            <a href="#">Aouizerate</a>
        </h1>
        <label id="menu-toggle-icon" for="menu-toggle">
            <i class="fa fa-bars fa-3x" id="menu-icon"></i>
        </label>
    </div>
    <nav>
        <h3 id="menu-lang-desktop">
            {{ if eq .Site.Params.locale "en-US" }}
            <a href="/">
                <span>en</span>        
                <i class="fa fa-toggle-on fa-rotate-270"></i>
                <i class="fa fa-toggle-on fa-rotate-90"></i>
                <span>fr</span>        
            </a>
            {{end}}
            {{ if eq .Site.Params.locale "fr-FR" }}
            <a href="/en">
               <span>en</span>        
                <i class="fa fa-toggle-on fa-rotate-90"></i>
                <i class="fa fa-toggle-on fa-rotate-270"></i>
                <span>fr</span>        
            </a>
            {{end}}
        </h3>
        <ul>
            {{range .Site.Menus.main}}
            <li>
                <a href="#{{.URL}}">
                    <h3>{{.Name}}</h3>
                </a>
            </li>
            {{end}}
            <li id="menu-lang">
                <h3>
                    {{ if eq .Site.Params.locale "en-US" }}
                    <a href="/">
                        en        
                        <i class="fa fa-toggle-on fa-flip-horizontal"></i>
                        fr
                    </a>
                    {{end}}
                    {{ if eq .Site.Params.locale "fr-FR" }}
                    <a href="/en">
                        en
                        <i class="fa fa-toggle-on"></i>
                        fr
                    </a>
                    {{end}}
                </h3>
            </li>
        </ul>
    </nav>
</div>
