<h2><i class="fa fa-paper-plane"></i>Projets</h2>
{{ range .Data.Pages }}
	{{if eq .Type "project"}}
		<h3><i class="fa fa-arrow-right"></i>{{.Title}}
		{{with .Params.cv}}<a href="{{.}}" target="_blank"><i class="fa fa-share-alt iconCV"></i></a>{{end}}</h3>
		
		<div class="project-content">
			<div class="project-image-container">
				<div class="project-image">
				{{ range .Params.images }}
					<div>
						<img class="project" src="{{.}}"/>
					</div>
				{{end}}
				</div>
			</div>
			<div>
			<h5><i class="fa fa-quote-left"></i>{{.Description}}<i class="fa fa-quote-right"></i></h5>
					{{.Content}}
			</div>
		</div>
	{{end}}
{{end}}