{{ partial "header.html" . }}
<header id="#home">
    {{ partial "nav.html" . }}
    <img src="./aa" />
    <div>Erik Aouizerate</div>
    <div>Développeur curieux intéractif</div>
</header>
<section>
    <article id="about">
        {{ partial "about.html" . }}
    </article>
    <article id="projects">
        {{ partial "projects.html" . }}
    </article>
    <article id="experiences">
        {{ partial "experiences.html" . }}
    </article>
    <article id="contact">
        {{ partial "contact.html" . }}
    </article>
</section>
{{ partial "footer.html" . }}
