{{ partial "header.html" . }}
<header id="#home">
    {{ partial "nav.html" . }}
    <img id="avatar" src="img/me.jpg" />
    <div id="intro">
        <h3>Erik Aouizerate</h3>
        <h3>développeur,</h3><h3>curieux,</h3><h3>intéractif.</h3>
    </div>
</header>
<section>
    <article id="about">
        {{ partial "about.html" . }}
    </article>
    <article id="projects">
        {{ partial "projects.html" . }}
    </article>
    <div>
            <article id="experiences">
                {{ partial "experiences.html" . }}
            </article>
        <div id="bottom-content">
            <article id="skills">
                {{ partial "skills.html" . }}
            </article>
            <div>
                <article id="education">
                    {{ partial "education.html" . }}
                </article>
                <article id="contact">
                    {{ partial "contact.html" . }}
                </article>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
